body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

.container {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px; 
}

li:last-child {
    margin-right: 0; 
}

a {
    text-decoration: none;
    color: lightblue;
}